<nav class="navbar navbar-expand-lg bg-body-tertiary bg bg-primary mx-5 container">
    <div class="container-fluid mx-5 >
        
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-5">
        <li class="nav-item mx-5">
          <a class="nav-link active" aria-current="page" href="http://localhost:8080/alltodos">All ToDos</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link active" aria-current="page" href="http://localhost:8080/create">Create ToDo</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link active" aria-current="page" href="http://localhost:8080/signup">User SignUp</a>
        </li>
        <li class="nav-item mx-5">
          <a class="nav-link active" aria-current="page" href="http://localhost:8080/login">User LogIn</a>
        </li>
    </ul>

      
    </div>
  </div>
</nav>